.col-md-4.col-md-offset-4.text-center
  %h1 Address Book
  %div{ 'ng-controller': 'indexCtrl' }
    {{ some_text.quote }} - {{ some_text.quoteMaster }}
    .row
      Enter New Contact:
      %form{ 'ng-submit': "submitForm()" }
        %input{ type: "text", placeholder: 'Enter First Name', 'ng-model': 'formFirstName' }
        %br
        %input{ type: "text", placeholder: 'Enter Last Name', 'ng-model': 'formLastName' }
        %br
        %input{ type: "text", placeholder: 'Enter Email', 'ng-model': 'formEmail' }
        %br
        %input{ type: "text", placeholder: 'Enter Phone Number', 'ng-model': 'formPhoneNumber' }
        %br
        %input{ type: "submit" }
    %br
    %br
    .row.text-left
      %ul
        %li{ 'ng-repeat': 'contact in contacts.contacts'}
          {{contact.first_name}} {{contact.last_name}} {{contact.email}} {{contact.phone_number}} 
          %span{ 'ng-click': 'editContact(contact)', class: "glyphicon glyphicon-pencil" }
          %span{ 'ng-click': 'deleteContact(contact.id)', class: "glyphicon glyphicon-trash" }
