%div{ 'ng-controller': 'indexCtrl' }
  .col-md-8.col-md-offset-2.text-center
    .jumbotron
      %h1
        %strong Address Book
    %h3 Enter New Contact:
    %form{ 'ng-submit': "submitForm()" }
      %input{ type: "text", placeholder: 'Enter First Name', 'ng-model': 'formFirstName', 'class': 'form-control' }
      %br
      %input{ type: "text", placeholder: 'Enter Last Name', 'ng-model': 'formLastName', 'class': 'form-control' }
      %br
      %input{ type: "text", placeholder: 'Enter Email', 'ng-model': 'formEmail', 'class': 'form-control' }
      %br
      %input{ type: "text", placeholder: 'Enter Phone Number', 'ng-model': 'formPhoneNumber', 'class': 'form-control' }
      %br
      %input{ type: "submit", 'class': 'btn btn-success' }
    %br
    %br
  .row.col-md-10.col-md-offset-1
    %ul
      %li{ 'ng-repeat': 'contact in contacts.contacts'}
        .col-md-3
          %strong
            {{contact.first_name}} 
            {{contact.last_name}}
          %br 
          %a{}{{contact.email}}
          %br
          {{contact.phone_number}} 
          %span{ 'ng-click': 'editContact(contact)', class: "glyphicon glyphicon-pencil" }
          %span{ 'ng-click': 'deleteContact(contact.id)', class: "glyphicon glyphicon-trash" }
          %br
          %br
